<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">

 <dom-module id="gestor-usuarios">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div id="Alta">
      <div class="container">
        <div class="row">
          <label class="label-info">Id Cliente: </label>
        </div>
        <div class="row">
          <input id="idcliente" name="idcliente" input type="text" value="" autocomplete="off" placeholder="usuario" required onkeyup="this.value">
        </div>
        <div class="row">
          <label class="label-info">Nombre: </label>
        </div>
        <div class="row">
          <input type="text" id="nombre" name ="nombre" autocomplete="off" placeholder="nombre(s)" required="required"/>
        </div>
        <div class="row">
          <label class="label-info">Apellido Paterno: </label>
        </div>
        <div class="row">
          <input type="text" id="apellidop" name ="apellidop" autocomlete="off" placeholder="apellido paterno" required="required" />
        </div>
        <div class="row">
          <label class="label-info">Apellido Materno: </label>
        </div>
        <div class="row">
          <input type="text" id="apellidom" name ="apellidom" autocomplete="off" placeholder="apellido materno" required="required"/>
        </div>
        <div class="row">
          <label class="label-info">Correo Electronico: </label>
        </div>
        <div class="row">
          <input type="email" id="correo" name ="email" autocomplete="off" placeholder="correo electronico" required="required"/>
        </div>
        <div class="row">
          <label class="label-info">Contraseña: </label>
        </div>
        <div class="row">
          <input type="password" id="contrasena" name ="contrasena" autocomplete="off" placeholder="contraseña" required="required"/>
        </div>
        <div class="row">
          <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="registrar">Registrar</button>
        </div>
      </div>
    </div>
  </template>

  <script>

  class GestorUsuarios extends Polymer.Element {
    static get is() { return 'gestor-usuarios'; }

    existeUsuario(){
         var objUsr =[];
         var usu = this.$.idcliente.value;
         console.log("usuario que ingreso: " +usu);
         var request = new XMLHttpRequest();
         var i=1;
         var existeUsuario= true;
         request.open("GET", "http://localhost:3000/validaUsuario/?idcliente="+usu,false);
         request.send();
         console.log("estatus de la consulta" + request.status)
         if( request.status ==  404  )  {
              console.log("cliente no existe, procede un alta ");
              existeUsuario = false;
         }else{
           objUsr = JSON.parse(request.responseText);
           console.log("respuesta a la consulta: "+ objUsr)
              if( objUsr.length<1){
                existeUsuario = false;
              }
         }
         return existeUsuario;
       }

    registrar(){
    var existeUsr = this.existeUsuario();
    console.log(existeUsr)
      if (existeUsr){
        alert("Usuario existente");
        return;
      }else{
     console.log("voy a registrar");
     var idCliente = parseInt(this.$.idcliente.value);
     console.log("Id cliente: " + idCliente);
     var nombreCliente = this.$.nombre.value;
     console.log("nombre: " + nombreCliente);
     var apCliente = this.$.apellidop.value;
     console.log("apellido paterno " + apCliente);
     var amCliente = this.$.apellidom.value;
     console.log("apellido materno " + amCliente);
     var emailCliente = this.$.correo.value;
     console.log("correo electronico " + emailCliente);
     var contrasenaCliente = this.$.contrasena.value;
     console.log("contraseña " + contrasenaCliente);

     var request = new XMLHttpRequest();
     request.open("POST", "http://localhost:3000/altacliente", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     var nuevoCliente = {"idcliente": idCliente,
                         "nombre": nombreCliente,
                         "apellidop": apCliente,
                         "apellidom": amCliente,
                         "correo": emailCliente,
                         "contrasena": contrasenaCliente
                          }
     console.log("datos para el alta:" + nuevoCliente);
     var body = JSON.stringify(nuevoCliente);
     request.send(body);
     console.log( request.responseText);
      if(request.status == 200){
        alert("Operación Exitosa");
      }else {
        alert("Verifique su información");
      }
      }
    }
  }

  window.customElements.define(GestorUsuarios.is, GestorUsuarios);

  </script>
</dom-module>
