<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div id="Login">
      <div class="container">
        <div class="row">
          <label class="label-info">Usuario: </label>
        </div>

        <div class="row">
          <input id="idcliente" name="idcliente" type="text" value="" autocomplete="off" placeholder="usuario" required onkeyup="this.value">
        </div>

        <div class="row">
          <label class="label-info">Contraseña: </label>
        </div>

        <div class="row">
          <input id="contraseña" name="contraseña" type="password" value=""  autocomplete="off"  placeholder="contraseña" pattern="^([A-Za-z0-9]){8,10}$" required="required">
        </div>

        <div class="row">
          <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="ingresar">Ingresar</button>
          <!-- <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="registrar">Registrar</button> -->
          <a href="../../src/gestor-usuarios/gestor-usuarios.html"><input type="button" value="registrar"></a>
        </div>

      </div>
    </div>
  </template>

  <script>

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }

      ingresar (){
        var x= this.$.idcliente.value;
        console.log(x);
        var y= this.$.contraseña.value;
        console.log(y);
        var idc=parseInt(x);
        console.log(idc);
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/validaLogin/?idcliente="+idc+'&contrasena='+y, false);
        request.send();
        console.log("request.status: "+request.status);
        console.log("request.responseText: "+request.responseText);

        if(request.status == 200){
          console.log("request.responseText.[0].: "+request.responseText[0]);
          var obj = JSON.parse(request.responseText);
          console.log("obj[0]: "+obj[0].idcliente);
          if(obj[0].idcliente === undefined){
            alert("Usuario no existe");
          }else{
            sessionStorage.setItem('user', obj[0].idcliente);
            console.log("subiendo a sessionStorage user: "+ obj[0].idcliente);
            alert("Ingreso exitoso");
          }
        }else {
            alert("No es posible ingresar, favor de verificar");
        }
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);

    </script>
</dom-module>
