<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar">Usuario</button>
        <input value="{{prop1::input}}"/>
        <button class="btn btn-danger col-lg-6 col-xs-14" type="button" name="button" on-click="ingresar">Contraseña</button>
        <input value="{{prop5::input}}"/>
      </div>
    </div>
  </template>

  <script>
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Ingrese su usuario'
          },
          prop4:{
            type: String,
            value: 'Ingrese su contraseña'
          },
          prop5:{
            type: String
          }
        }
      };
      incrementar(){
        this.prop2 = this.prop2 + 1;
        consola.log(this.prop1);
        consola.log(this.prop2);
      }
      ingresar(){
        this.prop2 = this.prop2 + 1;
        consola.log(this.prop1);
        consola.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
