<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/registra-usuario/registra-usuario.html">
<!--<link rel="import" href="shared-styles.html"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="registra-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <form>
      <div>
        <!-- <button on-click="cargaInfo" class="btn btn-info btn-sm" >carga</button> -->
        <button on-click="registrar" class="btn btn-info btn-sm" type="button" >Registrar</button>
      </div>
    </form>
  </template>

  <!-- <script>

  class RegistraUsuario extends Polymer.Element {
    static get is() { return 'registra-usuario'; }

    //* cargaInfo
    //*  console.log("se consulta info de la pantalla");
    //*  var x= this.$.idcliente.value;
    //*  console.log(x);
    //*  var y= this.$.contraseña.value;
    //*  console.log(y);
    //*  var idc=parseInt(x);
    //*  console.log(idc);
    //*  var request1 = new XMLHttpRequest();
    //*  request1.open("GET","http://localhost:3000/validaLogin/?idcliente="+idc+'&contrasena='+y, false);
    //*  request1.send();
    //*  if(request.status == 200){
    //*    alert("Cliente ya existe");
    //*  }else {
    //*      this.clientes = JSON.parse(request1.responseText);
    //*  console.log(this.clientes[0].idcliente);
    //*  txtidcliente.value =this.clientes[0].idcliente
    //*  console.log(this.clientes[0].nombre);
    //*  txtnombre.value =this.clientes[0].nombre
    //*  console.log(this.clientes[0].apellidop);
    //*  txtapellidop.value =this.clientes[0].apellidop
    //*  console.log(this.clientes[0].apellidom);
    //*  txtapellidom.value=this.clientes[0].apellidom
    //*  console.log(this.clientes[0].correo);
    //*  txtcorreo.value=this.clientes[0].correo
    //*  console.log(this.clientes[0].contrasena);
    //*  txtcontrasena.value=this.clientes[0].contrasena
    //*  }
    //*}

    registrar(){
      console.log("se consulta info de la pantalla");
      var x= idcliente.value;
      console.log(x);
      var y= contrasena.value;
      console.log(y);
      var idc=parseInt(x);
      console.log(idc);
      var request1 = new XMLHttpRequest();
      request1.open("GET","http://localhost:3000/validaLogin/?idcliente="+idc+'&contrasena='+y, false);
      request1.send();
      if(request.status == 200){
        alert("Cliente ya existe");
      }else {
        //*alert("Verifique su información");
      //*}
      this.clientes = JSON.parse(request1.responseText);
      console.log(this.clientes[0].idcliente);
      txtidcliente.value =this.clientes[0].idcliente
      console.log(this.clientes[0].nombre);
      txtnombre.value =this.clientes[0].nombre
      console.log(this.clientes[0].apellidop);
      txtapellidop.value =this.clientes[0].apellidop
      console.log(this.clientes[0].apellidom);
      txtapellidom.value=this.clientes[0].apellidom
      console.log(this.clientes[0].correo);
      txtcorreo.value=this.clientes[0].correo
      console.log(this.clientes[0].contrasena);
      txtcontrasena.value=this.clientes[0].contrasena
      }

     console.log("voy a registrar");
     var idCliente = parseInt(txtidcliente.value);
     console.log("Id cliente: " + idCliente);
     var nombreCliente =txtnombre.value;
     console.log("nombre: " + nombreCliente);
     var apCliente =txtapellidop.value;
     console.log("apellido paterno " + apCliente);
     var amCliente =txtapellidom.value;
     console.log("apellido materno " + amCliente);
     var emailCliente =txtcorreo.value;
     console.log("correo electronico " + emailCliente);
     var contrasenaCliente =txtcontrasena.value;
     console.log("contraseña " + contrasenaCliente);

     var request = new XMLHttpRequest();
     request.open("POST", "http://localhost:3000/altacliente", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     var nuevoCliente = {"idcliente": idCliente,
                         "nombre": nombreCliente,
                         "apellidop": apCliente,
                         "apellidom": amCliente,
                         "correo": emailCliente,
                         "contrasena": contrasenaCliente
                          }
     console.log("datos para el alta:" + nuevoCliente);
     var body = JSON.stringify(nuevoCliente);
     request.send(body);
     console.log( request.responseText);
      if(request.status == 200){
        alert("Operación Exitosa");
      }else {
        alert("Verifique su información");
      }
      }
  }

  window.customElements.define(RegistraUsuario.is, RegistraUsuario);

</script> -->
</dom-module>
